<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}" style="background-color: #1e1e1e;">
    {{- partial "head.html" . -}}
    <body style="background-color: #1e1e1e;">
        <div class="wrapper" style="width: 100%; min-height: 100vh; max-width: 90ch; margin: 0 auto; padding: 1.5rem;">
            {{- partial "header.html" . -}}
            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
        {{- partial "script.html" . -}}
    </body>
</html>
